@charset "UTF-8";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --grey0 : hsl(0, 0%, 50%);
    --grey1: hsl(0, 0%, 20%);
    --grey2: hsl(0, 0%, 12%);
    --grey3: hsl(0, 0%, 8%);

    --font1: 'Inter', sans-serif;
}

body {
    background-color: var(--grey3);
}

main {
    background-color: var(--grey2);
    box-shadow: 1px 1px 10px #BF9A2C;
    border-radius: 15px;
    width: 85%;
    max-width: 430px;
    min-width: 300px;
    margin: 5% auto 30px;
    padding: 5px 20px;
    color: #fff;
    font-family: var(--font1);
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header img {
    border: 2px solid #593B02;
    box-shadow: 1px 1px 10px #BF9A2C;
    border-radius: 50%;
    transition: linear 0.3s;
    margin-top: 20px;
}

header img:hover{
    transform: scale(1.25);                                              
}

header #nome {
    letter-spacing: 2px;
    margin: 10px 0 2px;
}

header #localizacao {
    font-size: 1.2rem;
    color: var(--green);
    font-weight: 600;
    text-decoration: none;
}

header #localizacao:hover {
    content: '\2192';
    text-decoration: underline;
}

main #cargo {
    margin-bottom: 25px;
}
div li {
    max-width: 400px;
    list-style: none;
    margin: 15px auto;
    
}

div li a:hover {
    transform: scale(1.05);
    transition: .3s;
    background-color: var(--green);
    box-shadow: 0 0 10px #BF9A2C;
}

div li.inativo{
    filter: grayscale();
    cursor: not-allowed;
}

div li a {
    display: inline-block;
    background-color: var(--grey1);
    border-radius: 10px;
    box-shadow: 0 0 3px #BF9A2C;
    width: 90%;
    padding: 15px;

    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
}

div li.inativo a {
    cursor: not-allowed;
}

div li a:hover {
    color: var(--grey2);
    font-weight: 700;
}

footer {
    background-color: var(--grey2);
    box-shadow: 0 0 10px #BF9A2C;
    border-radius: 10px;
    width: 90%;
    max-width: 430px;
    min-width: 300px;
    padding: 15px;
    margin: 0 auto 3%;
    transition: linear 0.3s; 

    color: #fff;
    text-align: center;
    font-size: 0.75em;
}

footer p a {
    color: var(--grey0);
    text-decoration: none;
    font-weight: 600;
}

footer p a:hover {
    color: var(--green);
    text-decoration: underline;
}