@charset "UTF-8";

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--stone-100);
  font-family: "Outfit";
  font-size: 1.6rem;
}

.container {
  padding: 6.4rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: var(--white);
  width: 100%;
  max-width: 37rem; /* seu tamanho base */
  border-radius: 1.6rem;
}

.card-img img {
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  width: 100%;
}

.false-container {
  padding: 2.8rem;
}

.description {
  margin-bottom: 2.4rem;
}

.section-time {
  background-color: var(--rose-50);
  padding: 1.8rem;
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
}

.section-time li::marker {
  color: var(--rose-800);
}

.heading {
  padding: 1.2rem 0;
  font-family: "Young Serif";
}

.primary-heading {
  font-weight: 700;
}

.secondary-heading {
  color: var(--brown-800);
  font-weight: 500;
}

.tertiary-heading {
  color: var(--rose-800);
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.section-list {
  padding-left: 1.8rem;
}

.section-list li {
  padding-left: 0.8rem;
  list-style-position: outside;
  line-height: 1.4;
}

.section-list li::marker {
  color: var(--brown-800);
  font-weight: 700;
}

.section-list li:not(:last-child) {
  margin-bottom: 1.2rem;
}

p,
li {
  color: var(--stone-600);
}

section:not(:nth-of-type(1)):not(:nth-of-type(4)) {
  padding-bottom: 1.6rem;
  border-bottom: 0.1px solid rgba(228, 222, 216, 0.8);
}

.section-nutrition table {
  width: 100%;
}

.section-nutrition tr {
  display: block;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(228, 222, 216, 0.8);
}

.section-nutrition th {
  width: 10rem;
  padding-left: 2.4rem;
  color: var(--stone-600);
  font-weight: 500;
  text-align: left;
}

.section-nutrition td {
  padding-left: 3.2rem;
  color: var(--brown-800);
  font-weight: 700;
}

@media (min-width: 48rem) {
  .card-container {
    max-width: 70rem;
    padding: 2.4rem;
  }

  .card-img img {
    border-radius: 0.8rem;
  }

  .section-nutrition td {
    padding-left: 24rem;
    color: var(--brown-800);
    font-weight: 700;
  }
}

/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98 */

/* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
