@charset "UTF-8";

:root {
  --white: #ffffff;
  --slate-300: #d6e2f0;
  --slate-500: #68778d;
  --slate-900: #1f3251;
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
}

.card-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  max-width: 320px;
  width: 95.75%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  box-shadow:
    0px 0px 0px 0.5px rgba(31, 50, 81, 0.356),
    0px 0px 12px rgba(31, 50, 81, 0.456);
}

.card-img img {
  width: 100%;
  border-radius: 0.8rem;
}

.content {
  text-align: center;
  padding: 1.6rem 1.4rem;
}

.main-title {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}

.main-description {
  color: var(--slate-500);
}
