@charset "UTF-8";

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);

  font-family: "Figtree", sans-serif;
  font-size: 1.6rem;
}

.card-container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card {
  background-color: var(--white);
  max-width: 35rem;
  width: 95.75%;
  padding: 1.8rem;
  border-radius: 1.6rem;
  box-shadow:
    0 0 0 1px var(--gray-950),
    8px 8px 2px var(--gray-950);
}

.header-img img {
  width: 100%;
  border-radius: 0.8rem;
}

.category {
  display: inline-block;
  background-color: var(--yellow);
  padding: 0.8rem;
  border-radius: 0.4rem;

  font-weight: 800;
}

.heading abbr {
  text-decoration: none;
  cursor: help;
}

.link:link,
.link:visited {
  color: var(--gray-950);
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--yellow);
}

.description {
  color: var(--gray-500);
  line-height: 1.4;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.author img {
  width: 32px;
}

.author .link {
  font-weight: 800;
}

.medium-margin-bottom {
  margin-bottom: 2.4rem;
}

.small-margin-bottom {
  margin-bottom: 1.2rem;
}

/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 86 / 98 */

/* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
