@charset "UTF-8";

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
    --background-color: hsl(47, 88%, 63%);
    --text-color: hsl(0, 0%, 42%);
    --shadow-color: hsl(0, 0%, 7%);
    --card-background: hsl(0, 0%, 100%);

    --font1: 'Figtree', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif
}

main {
    background-color: var(--card-background);
    width: 80%;
    max-width: 380px;
    border: 1px solid var(--shadow-color);
    border-radius: 15px;
    box-shadow: 9px 6px 1px 1px var(--shadow-color);
    padding: 20px;
    margin: 3% auto 20px;

    font-family: var(--font1);
}

#blog-header img {
    display: block;
    width: 100%;
    box-shadow: 0 0 5px var(--shadow-color);
    border-radius: 10px;
    margin: auto;
}

#blog-header p {
    display: inline-block;
    background-color: var(--background-color);
    padding: 7px 10px;
    border-radius: 5px;

    font-weight: 900;
}

article h1 {
    color: var(--background-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
    font-size: 1.65em;
}

article h1 abbr {
    text-decoration: none;
    font-weight: 900;
    cursor: help;
}

article h1 abbr:hover {
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--background-color);
    text-decoration: underline;
}

article p {
    color: var(--text-color);
    font-family: 'Figtree', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 10px;
}

#blog-perfil {
    display: inline-block;
}

#blog-perfil img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: linear 0.3s;
}

#blog-perfil img:hover {
    box-shadow: 0 0 8px var(--background-color);
    transform: scale(1.4);
}

#blog-perfil p {
    display: inline-block;
    position: relative;
    top: -22px;
    left: 10px;
    padding: 0;
    margin: 0;

    font-weight: bold;
    font-size: 1.2em;
}

#footer {
    background-color: var(--card-background);
    width: 80%;
    max-width: 380px;
    border: 1px solid var(--shadow-color);
    border-radius: 10px;
    box-shadow: 9px 6px 1px 1px var(--shadow-color);
    margin: 0 auto 3%;
    padding: 5px 5px;

    font-weight: bold;
    font-size: .75em;
    text-align: center;
}

#footer a {
    color: var(--text-color);
    text-decoration: none;
}

#footer a:hover {
    color: var(--background-color);
    text-decoration: underline;
}